@import url('https://fonts.googleapis.com/css?family=Arimo');

.AppBar{
  font-family: 'Arimo', sans-serif;
  
}

.btnBar {
  margin-left:0px;
  font-family: 'Arimo', sans-serif;
}
.BtnLink{
  color: white;
  text-decoration: none;
}

.btnBar button {
  width: 140px;
  margin: 10px;
  padding: 10px;
  background-color: #5b9aa0;
}

@media screen and (max-width: 500px) {
  .btnBar{
    width: 80%;
    height: 20%;
     /* The width is 100%, when the viewport is 800px or smaller */
  }  
}


