body {
  text-align: center;
  background-color: #011627;
}

.Budget{
  color: white;
}

h3 {
  display: block;
  color: #fff;
}
.appBtn {
  background-color: rgb(4, 209, 4);
  border: none;
  padding: 10px;
  width: 100px;
}